html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #303030;

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 10px;
    min-height: 170px;
    height: 15%;

    h1, h2, h3 {
      width: 100%;
      padding: 0px;
      text-align: center;
      color: #303030;
    }
  
    h1 {
      margin-bottom: 10px;
      font-size: 28px;
      height: 35px;
    }
  
    h2 {
      font-size: 22px;
    }

    .rules {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    
    .score {
      align-self: center;
      font-weight: bold;

      div {
        min-width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: #f5f5f5;
      }
    }
  }
  
  .playground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    height: 85%;
    margin-bottom: 50px;
    margin-right: 50px;

    button {      
      // Adaptation du CSS du bouton 36 dans : https://getcssscan.com/css-buttons-examples
      align-self: center;
      background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
      border-radius: 10px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      flex-shrink: 0;
      font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 18px;
      font-weight: bold;
      width: 170px;
      height: 4rem;
      margin: 15px;
      padding: 0.5rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all .5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    button:hover {
      box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
      transition-duration: .1s;
    }

    .target {
      position: absolute;
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-image: url("../public/assets/icons/icon-512x512.png");
      background-size: cover;
      box-shadow: 0px 0px 12px lightblue;
      background-color: white;
    }
  }
}